.articles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

.article-container img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  cursor: pointer;
}

.article-content {
  color: #878686;
  font-size: 12px;
}
