<header>
  <nav class="navbar">
    <a [routerLink]="['']">Accueil</a>
    <a [routerLink]="['/articles']">Articles</a>
    <a [routerLink]="['/team']">Equipe</a>
    <a [routerLink]="['/contact']">Contact</a>
  </nav>
  <div class="header-text-container">
    <p class="header-text">Bonjour et bienvenue sur le</p>
    <h1 class="header-text title">DevGones Blog</h1>
    <p class="header-text">
      Ce blog a pour but de s'entrainer à développer une application front-end
      Angular et back-end Spring. Il traite des sujets relatif à la création
      d'une application de type blog, destinée à proposer à ses visiteurs la
      lecture d'articles, organisés par cétagories, et affichant une image de
      présentation.
    </p>
  </div>
</header>
<router-outlet></router-outlet>
