* {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(243, 72, 247, 0.6),
      rgba(251, 193, 105, 0.6)
    ),
    url(https://res.cloudinary.com/dz632zpoz/image/upload/v1681753671/szblgqbvxdvdxj1k2c35.jpg);
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  display: block;
  margin: 20px;
  color: white;
}

.header-text {
  color: white;
  margin: 20px;
  font-size: 24px;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
  line-height: 32px;
}

.title {
  font-size: 48px;
}
